table {
    min-width: max-content !important;
}

@media (min-width: 992px){

    #header .header-nav-main.header-nav-main-text-size-4 nav > ul > li > a {
        font-size: 15px !important;
        font-weight: 600;
        letter-spacing: -0.4px;
    }
}